body {
    background-color: rgb(181, 234, 255);
}
li {
    list-style: none;
    align-content: center;
}
.input {
    font-size: 5vh;
    resize: none;
    margin-right: 2vw;
    height: 9vh;
    width: 40vw;
}
#content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.btnInput {
    width: 10vw;
    height: 10vh;
    float: right;
}
form {
    margin: 50px;
}
.boxInput {
    margin-top:40vh;
    display: inline-flex;
    width: 90vw;
    background-color: lightsteelblue;
    border-radius: 20px;
}