
li {
    list-style: none;
    align-content: center;
}
.input {
    font-size: 5vw;
    resize: none;
    margin-right: 2vw;
    height: 9vh;
    width: 40vw;
}
#content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
form {
    margin: 50px;
}
.boxInput {
    margin-top:30vh;
    display: inline-flex;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
a {
    color: whitesmoke;
    position: absolute;
    bottom: 5px;
}